.

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header-->
    <header class="main-header header-style-one">
    	
    	<!--Header-Upper-->
        <div class="header-upper">
        	<div class="outer-container">
            	<div class="clearfix">
                	
                	<div class="pull-left logo-box">
                    	<div class="logo"><a href="index-2.html"><img src="images/logo.png" alt="" title=""></a></div>
                    </div>
                   	
					<div class="nav-outer clearfix">
                    
						<!--Mobile Navigation Toggler For Mobile-->
                        <div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>

						<!-- Main Menu -->
						<nav class="main-menu navbar-expand-md">
							<div class="navbar-header">
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>

							<div class="navbar-collapse collapse scroll-nav clearfix" id="navbarSupportedContent">
								<ul class="navigation clearfix">
									<li class="current dropdown"><a href="index-2.html">Home</a>
										<ul>
											<li><a href="index-2.html">Home Digital Conference</a></li>
											<li><a href="index-3.html">Home Summit</a></li>
											<li><a href="index-4.html">Home Business Forum</a></li>
											<li><a href="index-5.html">Home Multiple V1</a></li>
											<li><a href="index-6.html">Home Multiple V2</a></li>
											<li><a href="index-7.html">Home Multiple V3</a></li>
											<li><a href="index-8.html">Home Multiple V4</a></li>
											<li><a href="index-9.html">Home Multiple V5</a></li>
											<li><a href="index-10.html">Home Multiple V6</a></li>
											<li><a href="index-11.html">Home Consulting</a></li>
											<li><a href="index-12.html">Home Ecology</a></li>
											<li><a href="index-13.html">Home Food Festival</a></li>
											<li class="dropdown"><a href="index-2.html">Header Styles</a>
												<ul>
													<li><a href="index-2.html">Header Style 01</a></li>
													<li><a href="index-3.html">Header Style 02</a></li>
													<li><a href="index-4.html">Header Style 03</a></li>
													<li><a href="index-5.html">Header Style 04</a></li>
												</ul>
											</li>
										</ul>
									</li>
									<li class="dropdown"><a href="about.html">About Us</a>
										<ul>
											<li><a href="about.html">About Type 01</a></li>
											<li><a href="about-2.html">About Type 02</a></li>
											<li><a href="price.html">Price Plans</a></li>
                                            <li><a href="sponsors.html">Sponsors</a></li>
											<li><a href="gallery.html">Gallery 03 Column</a></li>
											<li><a href="gallery-2.html">Gallery Fullwidth</a></li>
										</ul>
									</li>
									<li class="dropdown"><a href="speaker.html">Speakers</a>
										<ul>
											<li><a href="speaker.html">Speakers Style 01</a></li>
											<li><a href="speaker-2.html">Speakers Style 02</a></li>
											 
										</ul>
									</li>
									<li class="dropdown"><a href="schedule.html">Schedules</a>
										<ul>
											<li><a href="schedule.html">Schedule Style 01</a></li>
											<li><a href="schedule-2.html">Schedule Style 02</a></li>
											<li><a href="schedule-3.html">Schedule Style 03</a></li>
										</ul>
									</li>
									<li class="dropdown"><a href="blog.html">Blog</a>
										<ul>
											<li><a href="blog.html">Blog 03 Column</a></li>
											<li><a href="blog-classic.html">Blog With Sidebar</a></li>
											<li><a href="blog-detail.html">Blog Details</a></li>
										</ul>
									</li>
									<li><a href="contact.html">Contact Us</a></li>
								</ul>
							</div>
							
						</nav>
						<!-- Main Menu End-->
						
						<!-- Outer Box -->
						<div class="outer-box">
							<!-- Search Btn -->
							<div class="search-box-btn"><span class="icon flaticon-search"></span></div>
							<!-- Cart Button -->
							<div class="cart-btn">
								<a href="#" class="icon flaticon-shopping-cart"></a>
							</div>
							<!-- Button Box -->
							<div class="btn-box">
								<a href="contact.html" class="theme-btn btn-style-one">book a Ticket</a>
							</div>
						</div>
						
					</div>
					
                </div>
            </div>
        </div>
        <!--End Header Upper-->
        
		<!--Sticky Header-->
        <div class="sticky-header">
        	<div class="auto-container clearfix">
            	<!--Logo-->
            	<div class="logo pull-left">
                	<a href="index-2.html" class="img-responsive"><img src="images/logo-small.png" alt="" title=""></a>
                </div>
                
				<!--Right Col-->
                <div class="right-col pull-right">
					<!-- Main Menu -->
                    <nav class="main-menu navbar-expand-md">
                        <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent1">
                            <ul class="navigation clearfix"><!--Keep This Empty / Menu will come through Javascript--></ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>
                
            </div>
        </div>
        <!--End Sticky Header-->
		
		<!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon flaticon-cancel"></span></div>
            
            <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
            <nav class="menu-box">
            	<div class="nav-logo"><a href="index-2.html"><img src="images/nav-logo.png" alt="" title=""></a></div>
                
                <ul class="navigation clearfix"><!--Keep This Empty / Menu will come through Javascript--></ul>
            </nav>
        </div><!-- End Mobile Menu -->

    </header>
    <!-- End Main Header -->
	
	<!-- Banner Section -->
	<section class="banner-section" style="background-image:url(images/background/1.jpg)">
		<div class="banner-icons parallax-scene-1">
			<!-- Icon One -->
			<div data-depth="0.20" class="icon icon-one parallax-layer"><img src="images/icons/icon-4.png" alt="" /></div>
			<!-- Icon Two -->
			<div data-depth="0.50" class="icon icon-two parallax-layer"><img src="images/icons/icon-5.png" alt="" /></div>
		</div>
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Content Column -->
				<div class="content-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						<h2>MiExpo Digital <br> Conference 2019</h2>
						<div class="text">March 12 - 14, PrinceWell Hotel, California</div>
						<!-- Buttons Box -->
                        <div class="buttons-box clearfix">
                            <a href="contact.html" class="theme-btn btn-style-two">Book Tickets</a>
							<a href="speaker.html" class="theme-btn btn-style-three"><span>video presentation</span></a>
                        </div>
					</div>
				</div>
				
				<!-- Info Column -->
				<div class="info-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<ul class="list">
							<li>3 <br> Days</li>
							<li>45 <br> Workshops</li>
							<li>28 <br> Speakers</li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Banner Section -->
	
	<!-- Timer Section -->
	<section class="timer-section">
		<div class="auto-container">
			<div class="inner-container margin-top">
				<div class="row clearfix">
					
					<!-- Title Column -->
					<div class="title-column col-lg-4 col-md-12 col-sm-12">
						<div class="inner-column">
							<h2>Until Event Start</h2>
							<div class="text">Time Remaining</div>
						</div>
					</div>
					
					<!-- Time Column -->
					<div class="time-column col-lg-8 col-md-12 col-sm-12">
						<div class="inner-column">
							<div class="time-counter"><div class="time-countdown clearfix" data-countdown="2020/3/12"></div></div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Timer Section -->
	
	<!-- Welcome Section -->
	<section class="welcome-section" style="background-image:url(images/background/pattern-1.png)">
		<div class="auto-container">
			
			<!-- Side Icons -->
			<div class="side-icons paroller" data-paroller-factor="0.80" data-paroller-factor-lg="0.150" data-paroller-type="foreground" data-paroller-direction="vertical">
				<div class="icon-one" style="background-image:url(images/icons/icon-6.png)"></div>
				<div class="icon-two" style="background-image:url(images/icons/icon-7.png)"></div>
				<div class="icon-three" style="background-image:url(images/icons/icon-8.png)"></div>
			</div>
			
			<!-- Title Box -->
			<div class="title-box centered">
				<!-- Sec Title -->
				<div class="sec-title centered">
					<div class="title">Welcome to MiExpo Conference</div>
					<h2>Join The Innovators</h2>
					<div class="big-title">conference</div>
					<div class="separator"></div>
				</div>
				<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elitm sed do eiusmod tempor incididunt ut labore etsu dolore magna aliquatenim minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolorn reprehenderit voluptate velit esse. Excepteur sint uda occaecat cupidatat non proident, commodo sunt culpa qui officia deserunt mollit anim id est laborum sed utm pers piciatis unde omnis iste dolor natus error sit ipsum diu enimery sed voluptatem.</div>
				<a href="about.html" class="theme-btn btn-style-one">Read More</a>
			</div>
			
			<!--Video Box-->
			<div class="video-box">
				<figure class="video-image">
					<img src="images/resource/video-img.jpg" alt="">
					<div class="content">
						<a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image overlay-box"><span class="flaticon-play-button"><i class="ripple"></i></span></a>
						<h3>Discover What’s Ahead</h3>
					</div>
				</figure>
			</div>
			
			<!-- Lower Section -->
			<div class="lower-section">
				<div class="row clearfix">
					
					<!-- Feature Block -->
					<div class="feature-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="icon-box">
								<span class="icon flaticon-patent"></span>
							</div>
							<h3><a href="speaker.html">Certified Speakers</a></h3>
							<div class="text">Eabore etsu dolore magn aliqua enim ad minim veniam quis nostrud exercitas tion ullamco ipsum laboris.</div>
						</div>
					</div>
					
					<!-- Feature Block -->
					<div class="feature-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
							<div class="icon-box">
								<span class="icon flaticon-talk-1"></span>
							</div>
							<h3><a href="speaker.html">Connecting People</a></h3>
							<div class="text">Eabore etsu dolore magn aliqua enim ad minim veniam quis nostrud exercitas tion ullamco ipsum laboris.</div>
						</div>
					</div>
					
					<!-- Feature Block -->
					<div class="feature-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
							<div class="icon-box">
								<span class="icon flaticon-user"></span>
							</div>
							<h3><a href="speaker.html">Unique Digital Ideas</a></h3>
							<div class="text">Eabore etsu dolore magn aliqua enim ad minim veniam quis nostrud exercitas tion ullamco ipsum laboris.</div>
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
	</section>
	<!-- End Welcome Section -->
	
	<!-- Speaker Section -->
	<section class="speaker-section">
		<!-- Section Icons -->
		<div class="section-icons parallax-scene-2">
			<!-- Icon One -->
			<div class="icon icon-one parallax-layer" data-depth="0.20"><img src="images/icons/icon-13.png" alt="" /></div>
			<!-- Icon Two -->
			<div class="icon icon-two parallax-layer" data-depth="-0.40"><img src="images/icons/icon-12.png" alt="" /></div>
		</div>
		<!-- Side Icons -->
		<div class="side-icons paroller" data-paroller-factor="-0.40" data-paroller-factor-lg="-0.150" data-paroller-type="foreground" data-paroller-direction="vertical">
			<div class="icon-one" style="background-image:url(images/icons/icon-9.png)"></div>
			<div class="icon-two" style="background-image:url(images/icons/icon-10.png)"></div>
			<div class="icon-three" style="background-image:url(images/icons/icon-11.png)"></div>
		</div>
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title light centered">
				<div class="title">Welcome to MiExpo Conference</div>
				<h2>Our Speakers</h2>
				<div class="separator"></div>
			</div>
			
			<div class="row clearfix">
				
				<!-- Speaker Block -->
				<div class="speaker-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="dots-one"></div>
						<div class="dots-two"></div>
						<div class="image">
							<img src="images/resource/team-1.jpg" alt="" />
							<ul class="social-box">
								<li><a href="#"><span class="fab fa-twitter"></span></a></li>
								<li><a href="#"><span class="fab fa-behance"></span></a></li>
								<li><a href="#"><span class="fab fa-facebook"></span></a></li>
								<li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
							</ul>
						</div>
						<div class="lower-content">
							<h3><a href="#popup_9" class="ts-image-popup">Robert Gates</a></h3>
							<div class="designation">Lead Speaker</div>
						</div>
						
						<div id="popup_9" class="popup-content ts-speaker-popup mfp-hide">
							
							<div class="row clearfix">
							
								<!-- Image Column -->
								<div class="image-column col-lg-5 col-md-5 col-sm-12">
									<div class="inner-column">
										<div class="image">
											<img src="images/resource/team-1.jpg" alt="">
											<ul class="social-box">
												<li><a href="#"><span class="fab fa-twitter"></span></a></li>
												<li><a href="#"><span class="fab fa-behance"></span></a></li>
												<li><a href="#"><span class="fab fa-facebook"></span></a></li>
												<li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
											</ul>
										</div>
										
										<!--Skills-->
										<div class="skills">
											
											<!--Skill Item-->
											<div class="skill-item">
												<div class="skill-header clearfix">
													<div class="skill-title">Digital Marketing</div>
													<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="85">0</span>%</div></div>
												</div>
												<div class="skill-bar">
													<div class="bar-inner"><div class="bar progress-line" data-width="85"></div></div>
												</div>
											</div>
											
											<!--Skill Item-->
											<div class="skill-item">
												<div class="skill-header clearfix">
													<div class="skill-title">Strategy Planning</div>
													<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="70">0</span>%</div></div>
												</div>
												<div class="skill-bar">
													<div class="bar-inner"><div class="bar progress-line" data-width="70"></div></div>
												</div>
											</div>
											
											<!--Skill Item-->
											<div class="skill-item">
												<div class="skill-header clearfix">
													<div class="skill-title">Startup Ideas</div>
													<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="95">0</span>%</div></div>
												</div>
												<div class="skill-bar">
													<div class="bar-inner"><div class="bar progress-line" data-width="95"></div></div>
												</div>
											</div>
										
										</div>
										
									</div>
								</div>
								
								<!-- Content Column -->
								<div class="content-column col-lg-7 col-md-7 col-sm-12">
									<div class="inner-column">
										<h3>Robert Gates</h3>
										<span class="speakder-designation">Speaker, Trainer</span>
										<div class="text">Dolor sit amet, consectetur adipisicing elitm sed eiusmod tempor incididunt ut labore etsu dolore magna aliquatenim minim veniam quis nostrud exercitation ulamco laboris nis aliquip consequat aute irure dolor.</div>
										<ul class="speaker-list">
											<li><span>Profession</span>Digital Marketing</li>
											<li><span>Experience</span>8 Years</li>
											<li><span>Email</span><a href="mailto:robert.gates@domain.com">robert.gates@domain.com</a></li>
											<li><span>Phone</span><a href="tell:567-123-9008">567.123.9008</a></li>
											<li><span>Company</span>MiExpo Business</li>
											<li><span>Website</span><a href="#">www.miexpoconf.com</a></li>
										</ul>
									</div>
								</div>
								
							</div>
							
						</div>
						
					</div>
				</div>
				
				<!-- Speaker Block -->
				<div class="speaker-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="dots-one"></div>
						<div class="dots-two"></div>
						<div class="image">
							<img src="images/resource/team-2.jpg" alt="" />
							<ul class="social-box">
								<li><a href="#"><span class="fab fa-twitter"></span></a></li>
								<li><a href="#"><span class="fab fa-behance"></span></a></li>
								<li><a href="#"><span class="fab fa-facebook"></span></a></li>
								<li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
							</ul>
						</div>
						<div class="lower-content">
							<h3><a href="#popup_10" class="ts-image-popup">Paul Wilson</a></h3>
							<div class="designation">Lead Speaker</div>
						</div>
						
						<div id="popup_10" class="popup-content ts-speaker-popup mfp-hide">
							
							<div class="row clearfix">
							
								<!-- Image Column -->
								<div class="image-column col-lg-5 col-md-5 col-sm-12">
									<div class="inner-column">
										<div class="image">
											<img src="images/resource/team-2.jpg" alt="">
											<ul class="social-box">
												<li><a href="#"><span class="fab fa-twitter"></span></a></li>
												<li><a href="#"><span class="fab fa-behance"></span></a></li>
												<li><a href="#"><span class="fab fa-facebook"></span></a></li>
												<li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
											</ul>
										</div>
										
										<!--Skills-->
										<div class="skills">
											
											<!--Skill Item-->
											<div class="skill-item">
												<div class="skill-header clearfix">
													<div class="skill-title">Digital Marketing</div>
													<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="85">0</span>%</div></div>
												</div>
												<div class="skill-bar">
													<div class="bar-inner"><div class="bar progress-line" data-width="85"></div></div>
												</div>
											</div>
											
											<!--Skill Item-->
											<div class="skill-item">
												<div class="skill-header clearfix">
													<div class="skill-title">Strategy Planning</div>
													<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="70">0</span>%</div></div>
												</div>
												<div class="skill-bar">
													<div class="bar-inner"><div class="bar progress-line" data-width="70"></div></div>
												</div>
											</div>
											
											<!--Skill Item-->
											<div class="skill-item">
												<div class="skill-header clearfix">
													<div class="skill-title">Startup Ideas</div>
													<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="95">0</span>%</div></div>
												</div>
												<div class="skill-bar">
													<div class="bar-inner"><div class="bar progress-line" data-width="95"></div></div>
												</div>
											</div>
										
										</div>
										
									</div>
								</div>
								
								<!-- Content Column -->
								<div class="content-column col-lg-7 col-md-7 col-sm-12">
									<div class="inner-column">
										<h3>Paul Wilson</h3>
										<span class="speakder-designation">Speaker, Trainer</span>
										<div class="text">Dolor sit amet, consectetur adipisicing elitm sed eiusmod tempor incididunt ut labore etsu dolore magna aliquatenim minim veniam quis nostrud exercitation ulamco laboris nis aliquip consequat aute irure dolor.</div>
										<ul class="speaker-list">
											<li><span>Profession</span>Digital Marketing</li>
											<li><span>Experience</span>8 Years</li>
											<li><span>Email</span><a href="mailto:robert.gates@domain.com">robert.gates@domain.com</a></li>
											<li><span>Phone</span><a href="tell:567-123-9008">567.123.9008</a></li>
											<li><span>Company</span>MiExpo Business</li>
											<li><span>Website</span><a href="#">www.miexpoconf.com</a></li>
										</ul>
									</div>
								</div>
								
							</div>
							
						</div>
						
					</div>
				</div>
				
				<!-- Speaker Block -->
				<div class="speaker-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="dots-one"></div>
						<div class="dots-two"></div>
						<div class="image">
							<img src="images/resource/team-3.jpg" alt="" />
							<ul class="social-box">
								<li><a href="#"><span class="fab fa-twitter"></span></a></li>
								<li><a href="#"><span class="fab fa-behance"></span></a></li>
								<li><a href="#"><span class="fab fa-facebook"></span></a></li>
								<li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
							</ul>
						</div>
						<div class="lower-content">
							<h3><a href="#popup_11" class="ts-image-popup">George Tim</a></h3>
							<div class="designation">Lead Speaker</div>
						</div>
						
						<div id="popup_11" class="popup-content ts-speaker-popup mfp-hide">
							
							<div class="row clearfix">
							
								<!-- Image Column -->
								<div class="image-column col-lg-5 col-md-5 col-sm-12">
									<div class="inner-column">
										<div class="image">
											<img src="images/resource/team-3.jpg" alt="">
											<ul class="social-box">
												<li><a href="#"><span class="fab fa-twitter"></span></a></li>
												<li><a href="#"><span class="fab fa-behance"></span></a></li>
												<li><a href="#"><span class="fab fa-facebook"></span></a></li>
												<li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
											</ul>
										</div>
										
										<!--Skills-->
										<div class="skills">
											
											<!--Skill Item-->
											<div class="skill-item">
												<div class="skill-header clearfix">
													<div class="skill-title">Digital Marketing</div>
													<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="85">0</span>%</div></div>
												</div>
												<div class="skill-bar">
													<div class="bar-inner"><div class="bar progress-line" data-width="85"></div></div>
												</div>
											</div>
											
											<!--Skill Item-->
											<div class="skill-item">
												<div class="skill-header clearfix">
													<div class="skill-title">Strategy Planning</div>
													<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="70">0</span>%</div></div>
												</div>
												<div class="skill-bar">
													<div class="bar-inner"><div class="bar progress-line" data-width="70"></div></div>
												</div>
											</div>
											
											<!--Skill Item-->
											<div class="skill-item">
												<div class="skill-header clearfix">
													<div class="skill-title">Startup Ideas</div>
													<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="95">0</span>%</div></div>
												</div>
												<div class="skill-bar">
													<div class="bar-inner"><div class="bar progress-line" data-width="95"></div></div>
												</div>
											</div>
										
										</div>
										
									</div>
								</div>
								
								<!-- Content Column -->
								<div class="content-column col-lg-7 col-md-7 col-sm-12">
									<div class="inner-column">
										<h3>George Tim</h3>
										<span class="speakder-designation">Speaker, Trainer</span>
										<div class="text">Dolor sit amet, consectetur adipisicing elitm sed eiusmod tempor incididunt ut labore etsu dolore magna aliquatenim minim veniam quis nostrud exercitation ulamco laboris nis aliquip consequat aute irure dolor.</div>
										<ul class="speaker-list">
											<li><span>Profession</span>Digital Marketing</li>
											<li><span>Experience</span>8 Years</li>
											<li><span>Email</span><a href="mailto:robert.gates@domain.com">robert.gates@domain.com</a></li>
											<li><span>Phone</span><a href="tell:567-123-9008">567.123.9008</a></li>
											<li><span>Company</span>MiExpo Business</li>
											<li><span>Website</span><a href="#">www.miexpoconf.com</a></li>
										</ul>
									</div>
								</div>
								
							</div>
							
						</div>
						
					</div>
				</div>
				
				<!-- Speaker Block -->
				<div class="speaker-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="dots-one"></div>
						<div class="dots-two"></div>
						<div class="image">
							<img src="images/resource/team-4.jpg" alt="" />
							<ul class="social-box">
								<li><a href="#"><span class="fab fa-twitter"></span></a></li>
								<li><a href="#"><span class="fab fa-behance"></span></a></li>
								<li><a href="#"><span class="fab fa-facebook"></span></a></li>
								<li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
							</ul>
						</div>
						<div class="lower-content">
							<h3><a href="#popup_12" class="ts-image-popup">Benjamin Zara</a></h3>
							<div class="designation">Lead Speaker</div>
						</div>
						
						<div id="popup_12" class="popup-content ts-speaker-popup mfp-hide">
							
							<div class="row clearfix">
							
								<!-- Image Column -->
								<div class="image-column col-lg-5 col-md-5 col-sm-12">
									<div class="inner-column">
										<div class="image">
											<img src="images/resource/team-4.jpg" alt="">
											<ul class="social-box">
												<li><a href="#"><span class="fab fa-twitter"></span></a></li>
												<li><a href="#"><span class="fab fa-behance"></span></a></li>
												<li><a href="#"><span class="fab fa-facebook"></span></a></li>
												<li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
											</ul>
										</div>
										
										<!--Skills-->
										<div class="skills">
											
											<!--Skill Item-->
											<div class="skill-item">
												<div class="skill-header clearfix">
													<div class="skill-title">Digital Marketing</div>
													<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="85">0</span>%</div></div>
												</div>
												<div class="skill-bar">
													<div class="bar-inner"><div class="bar progress-line" data-width="85"></div></div>
												</div>
											</div>
											
											<!--Skill Item-->
											<div class="skill-item">
												<div class="skill-header clearfix">
													<div class="skill-title">Strategy Planning</div>
													<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="70">0</span>%</div></div>
												</div>
												<div class="skill-bar">
													<div class="bar-inner"><div class="bar progress-line" data-width="70"></div></div>
												</div>
											</div>
											
											<!--Skill Item-->
											<div class="skill-item">
												<div class="skill-header clearfix">
													<div class="skill-title">Startup Ideas</div>
													<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="95">0</span>%</div></div>
												</div>
												<div class="skill-bar">
													<div class="bar-inner"><div class="bar progress-line" data-width="95"></div></div>
												</div>
											</div>
										
										</div>
										
									</div>
								</div>
								
								<!-- Content Column -->
								<div class="content-column col-lg-7 col-md-7 col-sm-12">
									<div class="inner-column">
										<h3>Benjamin Zara</h3>
										<span class="speakder-designation">Speaker, Trainer</span>
										<div class="text">Dolor sit amet, consectetur adipisicing elitm sed eiusmod tempor incididunt ut labore etsu dolore magna aliquatenim minim veniam quis nostrud exercitation ulamco laboris nis aliquip consequat aute irure dolor.</div>
										<ul class="speaker-list">
											<li><span>Profession</span>Digital Marketing</li>
											<li><span>Experience</span>8 Years</li>
											<li><span>Email</span><a href="mailto:robert.gates@domain.com">robert.gates@domain.com</a></li>
											<li><span>Phone</span><a href="tell:567-123-9008">567.123.9008</a></li>
											<li><span>Company</span>MiExpo Business</li>
											<li><span>Website</span><a href="#">www.miexpoconf.com</a></li>
										</ul>
									</div>
								</div>
								
							</div>
							
						</div>
						
					</div>
				</div>
				
				<!-- Speaker Block -->
				<div class="speaker-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="dots-one"></div>
						<div class="dots-two"></div>
						<div class="image">
							<img src="images/resource/team-5.jpg" alt="" />
							<ul class="social-box">
								<li><a href="#"><span class="fab fa-twitter"></span></a></li>
								<li><a href="#"><span class="fab fa-behance"></span></a></li>
								<li><a href="#"><span class="fab fa-facebook"></span></a></li>
								<li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
							</ul>
						</div>
						<div class="lower-content">
							<h3><a href="#popup_13" class="ts-image-popup">Robert Gates</a></h3>
							<div class="designation">Lead Speaker</div>
						</div>
						
						<div id="popup_13" class="popup-content ts-speaker-popup mfp-hide">
							
							<div class="row clearfix">
							
								<!-- Image Column -->
								<div class="image-column col-lg-5 col-md-5 col-sm-12">
									<div class="inner-column">
										<div class="image">
											<img src="images/resource/team-5.jpg" alt="">
											<ul class="social-box">
												<li><a href="#"><span class="fab fa-twitter"></span></a></li>
												<li><a href="#"><span class="fab fa-behance"></span></a></li>
												<li><a href="#"><span class="fab fa-facebook"></span></a></li>
												<li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
											</ul>
										</div>
										
										<!--Skills-->
										<div class="skills">
											
											<!--Skill Item-->
											<div class="skill-item">
												<div class="skill-header clearfix">
													<div class="skill-title">Digital Marketing</div>
													<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="85">0</span>%</div></div>
												</div>
												<div class="skill-bar">
													<div class="bar-inner"><div class="bar progress-line" data-width="85"></div></div>
												</div>
											</div>
											
											<!--Skill Item-->
											<div class="skill-item">
												<div class="skill-header clearfix">
													<div class="skill-title">Strategy Planning</div>
													<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="70">0</span>%</div></div>
												</div>
												<div class="skill-bar">
													<div class="bar-inner"><div class="bar progress-line" data-width="70"></div></div>
												</div>
											</div>
											
											<!--Skill Item-->
											<div class="skill-item">
												<div class="skill-header clearfix">
													<div class="skill-title">Startup Ideas</div>
													<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="95">0</span>%</div></div>
												</div>
												<div class="skill-bar">
													<div class="bar-inner"><div class="bar progress-line" data-width="95"></div></div>
												</div>
											</div>
										
										</div>
										
									</div>
								</div>
								
								<!-- Content Column -->
								<div class="content-column col-lg-7 col-md-7 col-sm-12">
									<div class="inner-column">
										<h3>Robert Gates</h3>
										<span class="speakder-designation">Speaker, Trainer</span>
										<div class="text">Dolor sit amet, consectetur adipisicing elitm sed eiusmod tempor incididunt ut labore etsu dolore magna aliquatenim minim veniam quis nostrud exercitation ulamco laboris nis aliquip consequat aute irure dolor.</div>
										<ul class="speaker-list">
											<li><span>Profession</span>Digital Marketing</li>
											<li><span>Experience</span>8 Years</li>
											<li><span>Email</span><a href="mailto:robert.gates@domain.com">robert.gates@domain.com</a></li>
											<li><span>Phone</span><a href="tell:567-123-9008">567.123.9008</a></li>
											<li><span>Company</span>MiExpo Business</li>
											<li><span>Website</span><a href="#">www.miexpoconf.com</a></li>
										</ul>
									</div>
								</div>
								
							</div>
							
						</div>
						
					</div>
				</div>
				
				<!-- Speaker Block -->
				<div class="speaker-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="dots-one"></div>
						<div class="dots-two"></div>
						<div class="image">
							<img src="images/resource/team-6.jpg" alt="" />
							<ul class="social-box">
								<li><a href="#"><span class="fab fa-twitter"></span></a></li>
								<li><a href="#"><span class="fab fa-behance"></span></a></li>
								<li><a href="#"><span class="fab fa-facebook"></span></a></li>
								<li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
							</ul>
						</div>
						<div class="lower-content">
							<h3><a href="#popup_14" class="ts-image-popup">Paul Wilson</a></h3>
							<div class="designation">Lead Speaker</div>
						</div>
						
						<div id="popup_14" class="popup-content ts-speaker-popup mfp-hide">
							
							<div class="row clearfix">
							
								<!-- Image Column -->
								<div class="image-column col-lg-5 col-md-5 col-sm-12">
									<div class="inner-column">
										<div class="image">
											<img src="images/resource/team-6.jpg" alt="">
											<ul class="social-box">
												<li><a href="#"><span class="fab fa-twitter"></span></a></li>
												<li><a href="#"><span class="fab fa-behance"></span></a></li>
												<li><a href="#"><span class="fab fa-facebook"></span></a></li>
												<li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
											</ul>
										</div>
										
										<!--Skills-->
										<div class="skills">
											
											<!--Skill Item-->
											<div class="skill-item">
												<div class="skill-header clearfix">
													<div class="skill-title">Digital Marketing</div>
													<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="85">0</span>%</div></div>
												</div>
												<div class="skill-bar">
													<div class="bar-inner"><div class="bar progress-line" data-width="85"></div></div>
												</div>
											</div>
											
											<!--Skill Item-->
											<div class="skill-item">
												<div class="skill-header clearfix">
													<div class="skill-title">Strategy Planning</div>
													<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="70">0</span>%</div></div>
												</div>
												<div class="skill-bar">
													<div class="bar-inner"><div class="bar progress-line" data-width="70"></div></div>
												</div>
											</div>
											
											<!--Skill Item-->
											<div class="skill-item">
												<div class="skill-header clearfix">
													<div class="skill-title">Startup Ideas</div>
													<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="95">0</span>%</div></div>
												</div>
												<div class="skill-bar">
													<div class="bar-inner"><div class="bar progress-line" data-width="95"></div></div>
												</div>
											</div>
										
										</div>
										
									</div>
								</div>
								
								<!-- Content Column -->
								<div class="content-column col-lg-7 col-md-7 col-sm-12">
									<div class="inner-column">
										<h3>Paul Wilson</h3>
										<span class="speakder-designation">Speaker, Trainer</span>
										<div class="text">Dolor sit amet, consectetur adipisicing elitm sed eiusmod tempor incididunt ut labore etsu dolore magna aliquatenim minim veniam quis nostrud exercitation ulamco laboris nis aliquip consequat aute irure dolor.</div>
										<ul class="speaker-list">
											<li><span>Profession</span>Digital Marketing</li>
											<li><span>Experience</span>8 Years</li>
											<li><span>Email</span><a href="mailto:robert.gates@domain.com">robert.gates@domain.com</a></li>
											<li><span>Phone</span><a href="tell:567-123-9008">567.123.9008</a></li>
											<li><span>Company</span>MiExpo Business</li>
											<li><span>Website</span><a href="#">www.miexpoconf.com</a></li>
										</ul>
									</div>
								</div>
								
							</div>
							
						</div>
						
					</div>
				</div>
				
				<!-- Speaker Block -->
				<div class="speaker-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="dots-one"></div>
						<div class="dots-two"></div>
						<div class="image">
							<img src="images/resource/team-7.jpg" alt="" />
							<ul class="social-box">
								<li><a href="#"><span class="fab fa-twitter"></span></a></li>
								<li><a href="#"><span class="fab fa-behance"></span></a></li>
								<li><a href="#"><span class="fab fa-facebook"></span></a></li>
								<li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
							</ul>
						</div>
						<div class="lower-content">
							<h3><a href="#popup_15" class="ts-image-popup">George Tim</a></h3>
							<div class="designation">Lead Speaker</div>
						</div>
						
						<div id="popup_15" class="popup-content ts-speaker-popup mfp-hide">
							
							<div class="row clearfix">
							
								<!-- Image Column -->
								<div class="image-column col-lg-5 col-md-5 col-sm-12">
									<div class="inner-column">
										<div class="image">
											<img src="images/resource/team-7.jpg" alt="">
											<ul class="social-box">
												<li><a href="#"><span class="fab fa-twitter"></span></a></li>
												<li><a href="#"><span class="fab fa-behance"></span></a></li>
												<li><a href="#"><span class="fab fa-facebook"></span></a></li>
												<li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
											</ul>
										</div>
										
										<!--Skills-->
										<div class="skills">
											
											<!--Skill Item-->
											<div class="skill-item">
												<div class="skill-header clearfix">
													<div class="skill-title">Digital Marketing</div>
													<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="85">0</span>%</div></div>
												</div>
												<div class="skill-bar">
													<div class="bar-inner"><div class="bar progress-line" data-width="85"></div></div>
												</div>
											</div>
											
											<!--Skill Item-->
											<div class="skill-item">
												<div class="skill-header clearfix">
													<div class="skill-title">Strategy Planning</div>
													<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="70">0</span>%</div></div>
												</div>
												<div class="skill-bar">
													<div class="bar-inner"><div class="bar progress-line" data-width="70"></div></div>
												</div>
											</div>
											
											<!--Skill Item-->
											<div class="skill-item">
												<div class="skill-header clearfix">
													<div class="skill-title">Startup Ideas</div>
													<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="95">0</span>%</div></div>
												</div>
												<div class="skill-bar">
													<div class="bar-inner"><div class="bar progress-line" data-width="95"></div></div>
												</div>
											</div>
										
										</div>
										
									</div>
								</div>
								
								<!-- Content Column -->
								<div class="content-column col-lg-7 col-md-7 col-sm-12">
									<div class="inner-column">
										<h3>George Tim</h3>
										<span class="speakder-designation">Speaker, Trainer</span>
										<div class="text">Dolor sit amet, consectetur adipisicing elitm sed eiusmod tempor incididunt ut labore etsu dolore magna aliquatenim minim veniam quis nostrud exercitation ulamco laboris nis aliquip consequat aute irure dolor.</div>
										<ul class="speaker-list">
											<li><span>Profession</span>Digital Marketing</li>
											<li><span>Experience</span>8 Years</li>
											<li><span>Email</span><a href="mailto:robert.gates@domain.com">robert.gates@domain.com</a></li>
											<li><span>Phone</span><a href="tell:567-123-9008">567.123.9008</a></li>
											<li><span>Company</span>MiExpo Business</li>
											<li><span>Website</span><a href="#">www.miexpoconf.com</a></li>
										</ul>
									</div>
								</div>
								
							</div>
							
						</div>
						
					</div>
				</div>
				
				<!-- Speaker Block -->
				<div class="speaker-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="dots-one"></div>
						<div class="dots-two"></div>
						<div class="image">
							<img src="images/resource/team-8.jpg" alt="" />
							<ul class="social-box">
								<li><a href="#"><span class="fab fa-twitter"></span></a></li>
								<li><a href="#"><span class="fab fa-behance"></span></a></li>
								<li><a href="#"><span class="fab fa-facebook"></span></a></li>
								<li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
							</ul>
						</div>
						<div class="lower-content">
							<h3><a href="#popup_16" class="ts-image-popup">Benjamin Zara</a></h3>
							<div class="designation">Lead Speaker</div>
						</div>
						
						<div id="popup_16" class="popup-content ts-speaker-popup mfp-hide">
							
							<div class="row clearfix">
							
								<!-- Image Column -->
								<div class="image-column col-lg-5 col-md-5 col-sm-12">
									<div class="inner-column">
										<div class="image">
											<img src="images/resource/team-8.jpg" alt="">
											<ul class="social-box">
												<li><a href="#"><span class="fab fa-twitter"></span></a></li>
												<li><a href="#"><span class="fab fa-behance"></span></a></li>
												<li><a href="#"><span class="fab fa-facebook"></span></a></li>
												<li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
											</ul>
										</div>
										
										<!--Skills-->
										<div class="skills">
											
											<!--Skill Item-->
											<div class="skill-item">
												<div class="skill-header clearfix">
													<div class="skill-title">Digital Marketing</div>
													<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="85">0</span>%</div></div>
												</div>
												<div class="skill-bar">
													<div class="bar-inner"><div class="bar progress-line" data-width="85"></div></div>
												</div>
											</div>
											
											<!--Skill Item-->
											<div class="skill-item">
												<div class="skill-header clearfix">
													<div class="skill-title">Strategy Planning</div>
													<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="70">0</span>%</div></div>
												</div>
												<div class="skill-bar">
													<div class="bar-inner"><div class="bar progress-line" data-width="70"></div></div>
												</div>
											</div>
											
											<!--Skill Item-->
											<div class="skill-item">
												<div class="skill-header clearfix">
													<div class="skill-title">Startup Ideas</div>
													<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="95">0</span>%</div></div>
												</div>
												<div class="skill-bar">
													<div class="bar-inner"><div class="bar progress-line" data-width="95"></div></div>
												</div>
											</div>
										
										</div>
										
									</div>
								</div>
								
								<!-- Content Column -->
								<div class="content-column col-lg-7 col-md-7 col-sm-12">
									<div class="inner-column">
										<h3>Benjamin Zara</h3>
										<span class="speakder-designation">Speaker, Trainer</span>
										<div class="text">Dolor sit amet, consectetur adipisicing elitm sed eiusmod tempor incididunt ut labore etsu dolore magna aliquatenim minim veniam quis nostrud exercitation ulamco laboris nis aliquip consequat aute irure dolor.</div>
										<ul class="speaker-list">
											<li><span>Profession</span>Digital Marketing</li>
											<li><span>Experience</span>8 Years</li>
											<li><span>Email</span><a href="mailto:robert.gates@domain.com">robert.gates@domain.com</a></li>
											<li><span>Phone</span><a href="tell:567-123-9008">567.123.9008</a></li>
											<li><span>Company</span>MiExpo Business</li>
											<li><span>Website</span><a href="#">www.miexpoconf.com</a></li>
										</ul>
									</div>
								</div>
								
							</div>
							
						</div>
						
					</div>
				</div>
				
			</div>
			
			<!-- Button Box -->
			<div class="button-box text-center">
				<a href="speaker.html" class="theme-btn btn-style-four"><span class="txt">view all speakers</span></a>
			</div>
			
		</div>
	</section>
	<!-- End Speaker Section -->
	
	<!-- Events Section -->
	<section class="events-section" style="background-image:url(images/background/2.png)">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="title">Welcome to MiExpo Conference</div>
				<h2>Event Schedule</h2>
				<div class="separator"></div>
			</div>
			
			<!-- Events Info Tabs -->
            <div class="events-info-tabs">
                <!-- Events Tabs -->
                <div class="events-tabs tabs-box">
                
                    <!--Tab Btns-->
                    <ul class="tab-btns tab-buttons clearfix">
                        <li data-tab="#day-one" class="tab-btn active-btn">Day 1 <span>Sunday - March 12, 2020</span></li>
                        <li data-tab="#day-two" class="tab-btn">Day 2 <span>Monday - March 13, 2020</span></li>
                        <li data-tab="#day-three" class="tab-btn">Day 3 <span>Tuesday - March 14, 2020</span></li>
                    </ul>
                    
                    <!--Tabs Container-->
                    <div class="tabs-content">
                        
                        <!--Tab / Active Tab-->
                        <div class="tab active-tab" id="day-one">
                            <div class="content">
								
								<!-- Event block -->
								<div class="event-block">
									<div class="inner-box">
										<div class="row clearfix">
											<!-- Image Column -->
											<div class="image-column col-lg-5 col-sm-12 col-md-12">
												<div class="inner-column">
													<div class="image">
														<img src="images/resource/event-1.jpg" alt="" />
														<!--Overlay Box-->
														<div class="overlay-box">
															<div class="overlay-inner">
																<div class="content">
																	<h3><a href="schedule.html">Workshop</a></h3>
																</div>
															</div>
														</div>
													</div>
													<div class="event-time">9:00 am <br> --- <br> 11:00 am</div>
												</div>
											</div>
											<!-- Info Column -->
											<div class="info-column col-lg-7 col-sm-12 col-md-12">
												<div class="inner-column">
													<div class="name">Paul Wilson</div>
													<h2><a href="schedule.html">Focus On Dynamics</a></h2>
													<div class="text">Veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comdo sed conseqa irure dolorn reprehenderit voluptate velit esse excepteur sint occaecats.</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<!-- Event block -->
								<div class="event-block">
									<div class="inner-box">
										<div class="row clearfix">
											<!-- Image Column -->
											<div class="image-column col-lg-5 col-sm-12 col-md-12">
												<div class="inner-column">
													<div class="image">
														<img src="images/resource/event-2.jpg" alt="" />
														<!--Overlay Box-->
														<div class="overlay-box">
															<div class="overlay-inner">
																<div class="content">
																	<h3><a href="schedule.html">Workshop</a></h3>
																</div>
															</div>
														</div>
													</div>
													<div class="event-time">9:00 am <br> --- <br> 11:00 am</div>
												</div>
											</div>
											<!-- Info Column -->
											<div class="info-column col-lg-7 col-sm-12 col-md-12">
												<div class="inner-column">
													<div class="name">George Tim</div>
													<h2><a href="schedule.html">The Instant Results</a></h2>
													<div class="text">Veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comdo sed conseqa irure dolorn reprehenderit voluptate velit esse excepteur sint occaecats.</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<!-- Event block -->
								<div class="event-block">
									<div class="inner-box">
										<div class="row clearfix">
											<!-- Image Column -->
											<div class="image-column col-lg-5 col-sm-12 col-md-12">
												<div class="inner-column">
													<div class="image">
														<img src="images/resource/event-3.jpg" alt="" />
														<!--Overlay Box-->
														<div class="overlay-box">
															<div class="overlay-inner">
																<div class="content">
																	<h3><a href="schedule.html">Workshop</a></h3>
																</div>
															</div>
														</div>
													</div>
													<div class="event-time">9:00 am <br> --- <br> 11:00 am</div>
												</div>
											</div>
											<!-- Info Column -->
											<div class="info-column col-lg-7 col-sm-12 col-md-12">
												<div class="inner-column">
													<div class="name">Robert Gates</div>
													<h2><a href="schedule.html">Growing Power Politics</a></h2>
													<div class="text">Veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comdo sed conseqa irure dolorn reprehenderit voluptate velit esse excepteur sint occaecats.</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<!-- Event block -->
								<div class="event-block">
									<div class="inner-box">
										<div class="row clearfix">
											<!-- Image Column -->
											<div class="image-column col-lg-5 col-sm-12 col-md-12">
												<div class="inner-column">
													<div class="image">
														<img src="images/resource/event-4.jpg" alt="" />
														<!--Overlay Box-->
														<div class="overlay-box">
															<div class="overlay-inner">
																<div class="content">
																	<h3><a href="schedule.html">Workshop</a></h3>
																</div>
															</div>
														</div>
													</div>
													<div class="event-time">9:00 am <br> --- <br> 11:00 am</div>
												</div>
											</div>
											<!-- Info Column -->
											<div class="info-column col-lg-7 col-sm-12 col-md-12">
												<div class="inner-column">
													<div class="name">George Tim</div>
													<h2><a href="schedule.html">Inspiration Of Arctics</a></h2>
													<div class="text">Veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comdo sed conseqa irure dolorn reprehenderit voluptate velit esse excepteur sint occaecats.</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="buttons-box text-center">
									<a href="speaker.html" class="theme-btn btn-style-one">get More Details</a>
								</div>
								
							</div>
						</div>
						
						<!-- Tab -->
                        <div class="tab" id="day-two">
                            <div class="content">
								<!-- Event block -->
								<div class="event-block">
									<div class="inner-box">
										<div class="row clearfix">
											<!-- Image Column -->
											<div class="image-column col-lg-5 col-sm-12 col-md-12">
												<div class="inner-column">
													<div class="image">
														<img src="images/resource/event-2.jpg" alt="" />
														<!--Overlay Box-->
														<div class="overlay-box">
															<div class="overlay-inner">
																<div class="content">
																	<h3><a href="schedule.html">Workshop</a></h3>
																</div>
															</div>
														</div>
													</div>
													<div class="event-time">9:00 am <br> --- <br> 11:00 am</div>
												</div>
											</div>
											<!-- Info Column -->
											<div class="info-column col-lg-7 col-sm-12 col-md-12">
												<div class="inner-column">
													<div class="name">George Tim</div>
													<h2><a href="schedule.html">The Instant Results</a></h2>
													<div class="text">Veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comdo sed conseqa irure dolorn reprehenderit voluptate velit esse excepteur sint occaecats.</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<!-- Event block -->
								<div class="event-block">
									<div class="inner-box">
										<div class="row clearfix">
											<!-- Image Column -->
											<div class="image-column col-lg-5 col-sm-12 col-md-12">
												<div class="inner-column">
													<div class="image">
														<img src="images/resource/event-3.jpg" alt="" />
														<!--Overlay Box-->
														<div class="overlay-box">
															<div class="overlay-inner">
																<div class="content">
																	<h3><a href="schedule.html">Workshop</a></h3>
																</div>
															</div>
														</div>
													</div>
													<div class="event-time">9:00 am <br> --- <br> 11:00 am</div>
												</div>
											</div>
											<!-- Info Column -->
											<div class="info-column col-lg-7 col-sm-12 col-md-12">
												<div class="inner-column">
													<div class="name">Robert Gates</div>
													<h2><a href="schedule.html">Growing Power Politics</a></h2>
													<div class="text">Veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comdo sed conseqa irure dolorn reprehenderit voluptate velit esse excepteur sint occaecats.</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<!-- Event block -->
								<div class="event-block">
									<div class="inner-box">
										<div class="row clearfix">
											<!-- Image Column -->
											<div class="image-column col-lg-5 col-sm-12 col-md-12">
												<div class="inner-column">
													<div class="image">
														<img src="images/resource/event-4.jpg" alt="" />
														<!--Overlay Box-->
														<div class="overlay-box">
															<div class="overlay-inner">
																<div class="content">
																	<h3><a href="schedule.html">Workshop</a></h3>
																</div>
															</div>
														</div>
													</div>
													<div class="event-time">9:00 am <br> --- <br> 11:00 am</div>
												</div>
											</div>
											<!-- Info Column -->
											<div class="info-column col-lg-7 col-sm-12 col-md-12">
												<div class="inner-column">
													<div class="name">George Tim</div>
													<h2><a href="schedule.html">Inspiration Of Arctics</a></h2>
													<div class="text">Veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comdo sed conseqa irure dolorn reprehenderit voluptate velit esse excepteur sint occaecats.</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="buttons-box text-center">
									<a href="speaker.html" class="theme-btn btn-style-one">get More Details</a>
								</div>
								
							</div>
						</div>
						
						<!-- Tab -->
                        <div class="tab" id="day-three">
                            <div class="content">
								
								<!-- Event block -->
								<div class="event-block">
									<div class="inner-box">
										<div class="row clearfix">
											<!-- Image Column -->
											<div class="image-column col-lg-5 col-sm-12 col-md-12">
												<div class="inner-column">
													<div class="image">
														<img src="images/resource/event-3.jpg" alt="" />
														<!--Overlay Box-->
														<div class="overlay-box">
															<div class="overlay-inner">
																<div class="content">
																	<h3><a href="schedule.html">Workshop</a></h3>
																</div>
															</div>
														</div>
													</div>
													<div class="event-time">9:00 am <br> --- <br> 11:00 am</div>
												</div>
											</div>
											<!-- Info Column -->
											<div class="info-column col-lg-7 col-sm-12 col-md-12">
												<div class="inner-column">
													<div class="name">Robert Gates</div>
													<h2><a href="schedule.html">Growing Power Politics</a></h2>
													<div class="text">Veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comdo sed conseqa irure dolorn reprehenderit voluptate velit esse excepteur sint occaecats.</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<!-- Event block -->
								<div class="event-block">
									<div class="inner-box">
										<div class="row clearfix">
											<!-- Image Column -->
											<div class="image-column col-lg-5 col-sm-12 col-md-12">
												<div class="inner-column">
													<div class="image">
														<img src="images/resource/event-4.jpg" alt="" />
														<!--Overlay Box-->
														<div class="overlay-box">
															<div class="overlay-inner">
																<div class="content">
																	<h3><a href="schedule.html">Workshop</a></h3>
																</div>
															</div>
														</div>
													</div>
													<div class="event-time">9:00 am <br> --- <br> 11:00 am</div>
												</div>
											</div>
											<!-- Info Column -->
											<div class="info-column col-lg-7 col-sm-12 col-md-12">
												<div class="inner-column">
													<div class="name">George Tim</div>
													<h2><a href="schedule.html">Inspiration Of Arctics</a></h2>
													<div class="text">Veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comdo sed conseqa irure dolorn reprehenderit voluptate velit esse excepteur sint occaecats.</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="buttons-box text-center">
									<a href="schedule.html" class="theme-btn btn-style-one">get More Details</a>
								</div>
								
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
		</div>
	</section>
	<!-- End Events Section -->
	
	<!-- Fluid Section One -->
    <section class="fluid-section-one">
		<!-- Section Icons -->
		<div class="section-icons parallax-scene-3">
			<!-- Icon One -->
			<div class="icon icon-one parallax-layer" data-depth="0.20"><img src="images/icons/icon-14.png" alt="" /></div>
			<!-- Icon Two -->
			<div class="icon icon-two parallax-layer" data-depth="-0.40"><img src="images/icons/icon-15.png" alt="" /></div>
		</div>
    	<div class="outer-section clearfix">
        	
           <!--Image Column-->
        	<div class="image-column" style="background-image: url(images/resource/image-1.jpg)">
            	<div class="image">
                	<img src="images/resource/image-1.jpg" alt="">
                </div>
            </div>
            <!--End Image Column-->
           
            <!--Content Column-->
            <div class="content-column">
            	<div class="content-box">
					<!-- Sec Title -->
					<div class="sec-title light">
						<div class="title">Welcome to MiExpo Conference</div>
						<h2>The Digital Prespective To Ensure Communication</h2>
						<div class="separator"></div>
					</div>
					<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elitm sed eiusmod tempor incididunt ut etsu dolore magna aliquatenim ad minim veniam quis nostrud exercitation ullamco laboris nis ex ea commodo consequat duis aute irure dolorn reprehenderit.</div>
					<ul class="fluid-list">
						<li><strong>2k</strong> <span>Tickets Confirmed</span></li>
						<li><strong>18</strong> <span>Talented Speakers</span></li>
						<li><strong>30</strong> <span>Food Coffee Breaks</span></li>
					</ul>
				</div>
			</div>
			
		</div>
	</section>
	<!-- End Fluid Section One -->
	
	<!-- Price Section -->
	<section class="price-section" style="background-image:url(images/background/pattern-1.png)">
		<!-- Side Icons -->
		<div class="side-icons paroller" data-paroller-factor="-0.40" data-paroller-factor-lg="0.150" data-paroller-type="foreground" data-paroller-direction="vertical">
			<div class="icon-one" style="background-image:url(images/icons/icon-6.png)"></div>
			<div class="icon-two" style="background-image:url(images/icons/icon-7.png)"></div>
			<div class="icon-three" style="background-image:url(images/icons/icon-8.png)"></div>
		</div>
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="title">Welcome to MiExpo Conference</div>
				<h2>Get Your Tickets</h2>
				<div class="separator"></div>
			</div>
			
			<div class="row clearfix">
				
				<!-- Price Block -->
				<div class="price-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="title">Standard Pass</div>
						<div class="price">$120<span>1 Day</span></div>
						<ul class="price-list">
							<li>Full Conference<span>(Includes workshop, coffee etc)</span></li>
							<li class="lite">Live Videos<span>(Can access online free)</span></li>
							<li class="lite">Meet Speaker<span>(Ask questions privately)</span></li>
						</ul>
						<a href="#" class="theme-btn buy-btn">buy ticket</a>
						<div class="charges">Our prices includes 10% charges</div>
					</div>
				</div>
				
				<!-- Price Block -->
				<div class="price-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="title">Flexible Pass</div>
						<div class="price">$270<span>2 Day</span></div>
						<ul class="price-list">
							<li>Full Conference<span>(Includes workshop, coffee etc)</span></li>
							<li>Live Videos<span>(Can access online free)</span></li>
							<li class="lite">Meet Speaker<span>(Ask questions privately)</span></li>
						</ul>
						<a href="#" class="theme-btn buy-btn">buy ticket</a>
						<div class="charges">Our prices includes 10% charges</div>
					</div>
				</div>
				
				<!-- Price Block -->
				<div class="price-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="title">Business Pass</div>
						<div class="price">$340<span>3 Day</span></div>
						<ul class="price-list">
							<li>Full Conference<span>(Includes workshop, coffee etc)</span></li>
							<li>Live Videos<span>(Can access online free)</span></li>
							<li>Meet Speaker<span>(Ask questions privately)</span></li>
						</ul>
						<a href="#" class="theme-btn buy-btn">buy ticket</a>
						<div class="charges">Our prices includes 10% charges</div>
					</div>
				</div>
				
			</div>
			
			<!-- Lower Content -->
			<div class="lower-content">
				<div class="text">Eiusmod tempor incididunt ut labore et dolore magna aliquatenim minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequet ipsum dolor sit amet, consectetur adipisicing elit sed done eiusmod tempor incididunt ut labore et dolore magna aliqua uat enim veniam quis nostrud.</div>
			</div>
			
		</div>
	</section> 
	
	<!-- Gallery Section -->
	<section class="gallery-section">
		<div class="outer-container">
			<div class="clearfix">
				
				<!-- Gallery Block -->
				<div class="gallery-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="images/gallery/1.jpg" alt="" />
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="overlay-content">
										<a class="plus" href="images/gallery/1.jpg" data-fancybox="gallery-1" data-caption=""><span class="flaticon-add-1"></span></a>
									</div>
								</div>
							</div>	
							
						</div>
					</div>
				</div>
				
				<!-- Gallery Block -->
				<div class="gallery-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="images/gallery/2.jpg" alt="" />
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="overlay-content">
										<a class="plus" href="images/gallery/2.jpg" data-fancybox="gallery-1" data-caption=""><span class="flaticon-add-1"></span></a>
									</div>
								</div>
							</div>	
							
						</div>
					</div>
				</div>
				
				<!-- Gallery Block -->
				<div class="gallery-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="images/gallery/3.jpg" alt="" />
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="overlay-content">
										<a class="plus" href="images/gallery/3.jpg" data-fancybox="gallery-1" data-caption=""><span class="flaticon-add-1"></span></a>
									</div>
								</div>
							</div>	
							
						</div>
					</div>
				</div>
				
				<!-- Gallery Block -->
				<div class="gallery-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="images/gallery/4.jpg" alt="" />
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="overlay-content">
										<a class="plus" href="images/gallery/4.jpg" data-fancybox="gallery-1" data-caption=""><span class="flaticon-add-1"></span></a>
									</div>
								</div>
							</div>	
							
						</div>
					</div>
				</div>
				
				<!-- Gallery Block -->
				<div class="gallery-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="images/gallery/5.jpg" alt="" />
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="overlay-content">
										<a class="plus" href="images/gallery/5.jpg" data-fancybox="gallery-1" data-caption=""><span class="flaticon-add-1"></span></a>
									</div>
								</div>
							</div>	
							
						</div>
					</div>
				</div>
				
				<!-- Gallery Block -->
				<div class="gallery-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="images/gallery/6.jpg" alt="" />
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="overlay-content">
										<a class="plus" href="images/gallery/6.jpg" data-fancybox="gallery-1" data-caption=""><span class="flaticon-add-1"></span></a>
									</div>
								</div>
							</div>	
							
						</div>
					</div>
				</div>
				
				<!-- Gallery Block -->
				<div class="gallery-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="images/gallery/7.jpg" alt="" />
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="overlay-content">
										<a class="plus" href="images/gallery/7.jpg" data-fancybox="gallery-1" data-caption=""><span class="flaticon-add-1"></span></a>
									</div>
								</div>
							</div>	
							
						</div>
					</div>
				</div>
				
				<!-- Gallery Block -->
				<div class="gallery-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="images/gallery/8.jpg" alt="" />
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="overlay-content">
										<a class="plus" href="images/gallery/8.jpg" data-fancybox="gallery-1" data-caption=""><span class="flaticon-add-1"></span></a>
									</div>
								</div>
							</div>	
							
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	
	<!-- Testimonial Section -->
	<section class="testimonial-section">
		<!-- Section Icons -->
		<div class="section-icons parallax-scene-4">
			<!-- Icon One -->
			<div class="icon icon-one parallax-layer" data-depth="0.20"><img src="images/icons/icon-12.png" alt="" /></div>
			<!-- Icon Two -->
			<div class="icon icon-two parallax-layer" data-depth="-0.40"><img src="images/icons/icon-15.png" alt="" /></div>
		</div>
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="title">Welcome to MiExpo Conference</div>
				<h2>Testimonials</h2>
				<div class="separator"></div>
			</div>
			<div class="testimonial-carousel owl-carousel owl-theme">
				
				<!-- Tesimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="upper-content">
							<div class="content">
								<div class="text">Fugiat nulla pariatur excepteur sint occaecat cupidatat non proident, sunt in culp qui officia anim id est laborum. Sed unt perspiciatis unde omnis iste.</div>
								<div class="quote-icon flaticon-right-quote"></div>
							</div>
						</div>
						<div class="lower-content">
							<div class="author">
								<div class="image">
									<img src="images/resource/author-1.jpg" alt="" />
								</div>
								<h3>Nelson Edward</h3>
								<div class="designation">Conf. Speaker</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Tesimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="upper-content">
							<div class="content">
								<div class="text">Fugiat nulla pariatur excepteur sint occaecat cupidatat non proident, sunt in culp qui officia anim id est laborum. Sed unt perspiciatis unde omnis iste.</div>
								<div class="quote-icon flaticon-right-quote"></div>
							</div>
						</div>
						<div class="lower-content">
							<div class="author">
								<div class="image">
									<img src="images/resource/author-2.jpg" alt="" />
								</div>
								<h3>Thomas Salehy</h3>
								<div class="designation">Conf. Speaker</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Tesimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="upper-content">
							<div class="content">
								<div class="text">Fugiat nulla pariatur excepteur sint occaecat cupidatat non proident, sunt in culp qui officia anim id est laborum. Sed unt perspiciatis unde omnis iste.</div>
								<div class="quote-icon flaticon-right-quote"></div>
							</div>
						</div>
						<div class="lower-content">
							<div class="author">
								<div class="image">
									<img src="images/resource/author-3.jpg" alt="" />
								</div>
								<h3>Peter Anderson</h3>
								<div class="designation">Conf. Speaker</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	
	<!-- Sponsors Section -->
	<section class="sponsors-section" style="background-image:url(images/background/3.png)">
		<!-- Side Icons -->
		<div class="side-icons paroller" data-paroller-factor="-0.40" data-paroller-factor-lg="-0.150" data-paroller-type="foreground" data-paroller-direction="vertical">
			<div class="icon-one" style="background-image:url(images/icons/icon-9.png)"></div>
			<div class="icon-two" style="background-image:url(images/icons/icon-10.png)"></div>
			<div class="icon-three" style="background-image:url(images/icons/icon-11.png)"></div>
		</div>
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title light centered">
				<div class="title">Welcome to MiExpo Digital Conference 2020</div>
				<h2>Big Thanks For Sponsors</h2>
				<div class="separator"></div>
			</div>
			
			<div class="sponsors-list">
				<a href="#"><img src="images/clients/1.png" alt="" /></a>
				<a href="#"><img src="images/clients/2.png" alt="" /></a>
				<a href="#"><img src="images/clients/3.png" alt="" /></a>
				<a href="#"><img src="images/clients/4.png" alt="" /></a>
				<a href="#"><img src="images/clients/5.png" alt="" /></a>
				<a href="#"><img src="images/clients/6.png" alt="" /></a>
				<a href="#"><img src="images/clients/7.png" alt="" /></a>
				<a href="#"><img src="images/clients/8.png" alt="" /></a>
			</div>
			
		</div>
	</section>
	<!-- End Sponsors Section -->
	
	<!-- News Section -->
	<section class="news-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title">
				<div class="clearfix">
					<div class="pull-left">
						<div class="title">Welcome to MiExpo Conference</div>
						<h2>Latest News</h2>
						<div class="separator"></div>
					</div>
					<div class="pull-right">
						<div class="text">Veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comdo sed conseqa <br> irure dolorn reprehenderit voluptate velit esse excepteur sint occaecats.</div>
					</div>
				</div>
			</div>
			<div class="row clearfix">
				
				<!-- News Block -->
				<div class="news-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="#"><img src="images/resource/news-1.jpg" alt="" /></a>
							<div class="category">Concert</div>
						</div>
						<div class="lower-content">
							<ul class="post-meta">
								<li><span class="icon flaticon-profile"></span>MiExpo</li>
								<li><span class="icon flaticon-timetable"></span>March 23, 2020</li>
							</ul>
							<h3><a href="#">Connecting People for MiExpo Summit</a></h3>
							<div class="text">Eabore etsu dolore magn aliqua enim veniam quis nostrud exercitas ..</div>
							<a class="read-more" href="#">read more <span class="icon flaticon-right-arrow-1"></span></a>
						</div>
					</div>
				</div>
				
				<!-- News Block -->
				<div class="news-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="#"><img src="images/resource/news-2.jpg" alt="" /></a>
							<div class="category">summit</div>
						</div>
						<div class="lower-content">
							<ul class="post-meta">
								<li><span class="icon flaticon-profile"></span>MiExpo</li>
								<li><span class="icon flaticon-timetable"></span>March 23, 2020</li>
							</ul>
							<h3><a href="#">Unique Digital Ideas to Learn Business</a></h3>
							<div class="text">Eabore etsu dolore magn aliqua enim veniam quis nostrud exercitas ..</div>
							<a class="read-more" href="#">read more <span class="icon flaticon-right-arrow-1"></span></a>
						</div>
					</div>
				</div>
				
				<!-- News Block -->
				<div class="news-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="#"><img src="images/resource/news-3.jpg" alt="" /></a>
							<div class="category">business</div>
						</div>
						<div class="lower-content">
							<ul class="post-meta">
								<li><span class="icon flaticon-profile"></span>MiExpo</li>
								<li><span class="icon flaticon-timetable"></span>March 23, 2020</li>
							</ul>
							<h3><a href="#">Connecting People for MiExpo Summit</a></h3>
							<div class="text">Eabore etsu dolore magn aliqua enim veniam quis nostrud exercitas ..</div>
							<a class="read-more" href="#">read more <span class="icon flaticon-right-arrow-1"></span></a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End News Section -->
	
	<!-- Newsletter Section -->
	<section class="newsletter-section">
		<div class="auto-container">
			<div class="inner-container margin-bottom" style="background-image:url(images/background/pattern-3.png)">
				<!-- Section Icons -->
				<div class="section-icons">
					<!-- Icon One -->
					<div class="icon icon-one"><img src="images/icons/icon-16.png" alt="" /></div>
					<!-- Icon Two -->
					<div class="icon icon-two"><img src="images/icons/icon-17.png" alt="" /></div>
					<!-- Icon Three -->
					<div class="icon icon-three"><img src="images/icons/icon-18.png" alt="" /></div>
				</div>
				<!-- Title Box -->
				<div class="title-box">
					<div class="title">Get The Latest Updates</div>
					<h2>Signup For Newsletter</h2>
				</div>
				
				<!-- Newsletter Form-->
				<div class="newsletter-form">
					<form method="post" action="http://html.commonsupport.xyz/2019/miexpo/contact.html">
						<div class="form-group">
							<input type="email" name="email" value="" placeholder="Your Email *" required>
							<button type="submit" class="theme-btn btn-style-one">subscribe</button>
						</div>
					</form>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Newsletter Section -->
	
	<!-- Main Footer -->
    <footer class="main-footer">
		<div class="auto-container">
			<div class="content">
				<!-- Footer Logo -->
				<div class="logo">
					<a href="index-2.html"><img src="images/footer-logo.png" alt="" /></a>
				</div>
				<div class="text">Elitm sed eiusmod tempor incididunt umst etsu dolore magna aliquatenim ad minim veniam quis nostrud exercitation ullamco laboris nis ex ea comdo consequat duis aute.</div>
				<ul class="social-icons">
					<li><a href="#"><span class="fab fa-twitter"></span></a></li>
					<li><a href="#"><span class="fab fa-behance"></span></a></li>
					<li><a href="#"><span class="fab fa-facebook"></span></a></li>
					<li><a href="#"><span class="fab fa-instagram"></span></a></li>
					<li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
					<li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
					<li><a href="#"><span class="fab fa-dribbble"></span></a></li>
				</ul>
			</div>
		</div>
		
		<!-- Footer Nav -->
		<div class="footer-nav">
			<div class="auto-container">
				<ul>
					<li><a href="index-2.html">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="speaker.html">Speakers Style 01</a></li>
					<li><a href="#">Pages</a></li>
					<li><a href="#">Schedule</a></li>
					<li><a href="#">News</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Buy Ticket</a></li>
				</ul>
			</div>
		</div>
		
		<!-- Footer Bottom -->
		<div class="footer-bottom">
			<div class="auto-container">
				<div class="copyright">&copy; 2019 MiExpo. All rights reserved.</div>
			</div>
		</div>
		
	</footer>
	<!-- End Main Footer -->
	
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-double-up"></span></div>

<!--Search Popup-->
<div id="search-popup" class="search-popup">
	<div class="close-search theme-btn"><span class="fas fa-window-close"></span></div>
	<div class="popup-inner">
		<div class="overlay-layer"></div>
    	<div class="search-form">
        	<form method="post" action="http://html.commonsupport.xyz/2019/miexpo/index.html">
            	<div class="form-group">
                	<fieldset>
                        <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >
                        <input type="submit" value="Search Now!" class="theme-btn">
                    </fieldset>
                </div>
            </form>
            
            <br>
            <h3>Recent Search Keywords</h3>
            <ul class="recent-searches">
                <li><a href="#">Business</a></li>
                <li><a href="#">Web Development</a></li>
                <li><a href="#">SEO</a></li>
                <li><a href="#">Logistics</a></li>
                <li><a href="#">Freedom</a></li>
            </ul>
        
        </div>
        
    </div>
</div>

<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/parallax.min.js"></script>
<script src="js/jquery.scrollTo.js"></script>
<script src="js/appear.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/magnific-popup.min.js"></script>
<script src="js/jquery.countdown.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/paroller.js"></script>
<script src="js/script.js"></script>

</body>

<!-- Mirrored from html.commonsupport.xyz/2019/miexpo/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 May 2020 23:39:20 GMT -->
</html>